body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
a._idGenColorInherit {
	color:inherit;
}
div.Marco-de-texto-b-sico {
	border-style:solid;
}
table.Ningún-estilo-de-tabla {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Ningún-estilo-de-tabla {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.P-rrafo-b-sico {
	color:#575756;
	font-family:gobCL, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Notas {
	color:#575756;
	font-family:gobCL, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.211;
	margin-bottom:0;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-11px;
	text-transform:none;
	widows:1;
}
p.Señales_Bibliografia {
	color:#575756;
	font-family:gobCL, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Señales_Parrafo {
	color:#575756;
	font-family:gobCL, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:10px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Hyperlink {
	color:#2581c4;
	text-decoration:underline;
}
span.Notas {
	color:#575756;
	font-family:gobCL, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.Pie-P-gina {
	font-family:gobCL, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.Señales_Pie-Pagina {
	color:#575756;
	font-family:gobCL, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.Señales_Texto {
	color:#575756;
	font-family:gobCL, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.Señales_Texto-I {
	color:#575756;
	font-family:gobCL, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.Señales_Titulos {
	color:#575756;
	font-family:gobCL, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
td.CellOverride-1 {
	background-color:#ef7d00;
	border-bottom-color:#878787;
	border-bottom-width:1px;
	border-left-color:#878787;
	border-left-width:1px;
	border-right-color:#878787;
	border-right-width:1px;
	border-top-color:#878787;
	border-top-width:1px;
	padding-bottom:7px;
	padding-left:7px;
	padding-right:7px;
	padding-top:7px;
}
td.CellOverride-2 {
	border-bottom-color:#878787;
	border-bottom-width:1px;
	border-left-color:#878787;
	border-left-width:1px;
	border-right-color:#878787;
	border-right-width:1px;
	border-top-color:#878787;
	border-top-width:1px;
	padding-bottom:7px;
	padding-left:7px;
	padding-right:7px;
	padding-top:7px;
}
td.CellOverride-3 {
	border-bottom-color:#878787;
	border-bottom-width:1px;
	border-left-color:#878787;
	border-left-width:1px;
	border-right-color:#878787;
	border-right-width:1px;
	border-top-color:#878787;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.CellOverride-4 {
	background-color:#fee7d1;
	border-bottom-color:#878787;
	border-bottom-width:1px;
	border-left-color:#878787;
	border-left-width:1px;
	border-right-color:#878787;
	border-right-width:1px;
	border-top-color:#878787;
	border-top-width:1px;
	padding-bottom:7px;
	padding-left:7px;
	padding-right:7px;
	padding-top:7px;
}
p.ParaOverride-1 {
	-epub-hyphens:none;
	margin-bottom:5px;
}
p.ParaOverride-2 {
	margin-bottom:20px;
}
p.ParaOverride-3 {
	-epub-hyphens:none;
	margin-bottom:20px;
	text-align:justify;
	text-align-last:center;
}
p.ParaOverride-4 {
	-epub-hyphens:none;
	margin-bottom:40px;
	text-align:justify;
	text-align-last:center;
}
p.ParaOverride-5 {
	-epub-hyphens:none;
	margin-bottom:10px;
	text-align:right;
}
p.ParaOverride-6 {
	-epub-hyphens:none;
	margin-bottom:20px;
	text-align:right;
}
p.ParaOverride-7 {
	-epub-hyphens:none;
	margin-bottom:40px;
	text-align:left;
}
p.ParaOverride-8 {
	-epub-hyphens:none;
	margin-bottom:10px;
}
p.ParaOverride-9 {
	-epub-hyphens:none;
	margin-bottom:20px;
}
p.ParaOverride-10 {
	-epub-hyphens:none;
	margin-bottom:40px;
}
p.ParaOverride-11 {
	-epub-hyphens:none;
	margin-bottom:10px;
	text-align:left;
}
p.ParaOverride-12 {
	-epub-hyphens:none;
	margin-left:0px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-13 {
	-epub-hyphens:none;
	text-align:center;
}
p.ParaOverride-14 {
	margin-bottom:10px;
}
p.ParaOverride-15 {
	margin-bottom:40px;
}
span.CharOverride-1 {
	color:#706f6f;
	font-size:12px;
}
span.CharOverride-2 {
	color:#706f6f;
	font-size:12px;
	text-decoration:underline;
}
span.CharOverride-3 {
	font-size:20px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	font-size:20px;
}
span.CharOverride-5 {
	font-size:15px;
}
span.CharOverride-6 {
	font-size:9px;
	vertical-align:super;
}
span.CharOverride-7 {
	font-size:15px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	font-size:15px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#ffffff;
	font-size:14px;
}
span.CharOverride-10 {
	color:#ffffff;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-11 {
	font-size:14px;
}
span.CharOverride-12 {
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
col._idGenTableRowColumn-1 {
	width:150px;
}
col._idGenTableRowColumn-2 {
	width:125px;
}
col._idGenTableRowColumn-3 {
	width:300px;
}
col._idGenTableRowColumn-4 {
	width:100px;
}
tr._idGenTableRowColumn-5 {
	min-height:61px;
}
tr._idGenTableRowColumn-6 {
	min-height:42px;
}
tr._idGenTableRowColumn-7 {
	min-height:24px;
}
tr._idGenTableRowColumn-8 {
	min-height:28px;
}
tr._idGenTableRowColumn-9 {
	min-height:62px;
}
hr.HorizontalRule-1 {
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:solid #000000 1px;
}
